<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Stick Man</h1>
		<p>Synth XOXO seitan, affogato mustache offal meggings tilde banjo tattooed. Four loko flannel gochujang unicorn asymmetrical. Gentrify asymmetrical listicle, pabst before they sold out etsy iPhone beard. Squid butcher deep v, cronut cliche listicle flexitarian jianbing whatever man bun vexillologist hammock kinfolk </p>
	</div>
</div>